<!DOCTYPE html>
<html>

<head>
    <meta charset="pt-BR">
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <div class="container" id="hrader-nav">
            <nav>
                <img id="logo" src="/images/carcontroll.png" alt="Logo Car controll">
                <ul id="list-nav"><a href="/">Login</a>
                    <a href="/register">Registrar</a>
                    <a href="/contato">Contato</a>
                    <a href="/suport">Suporte</a>
                </ul>
            </nav>
        </div>
    </header>